version: "3.8"

services:
  gorestream:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - /dev/shm:/dev/shm
    tmpfs:
      - /run/nginx:mode=755
    environment:
      - TZ=America/Sao_Paulo
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:80/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    deploy:
      resources:
        limits:
          memory: 700M
        reservations:
          memory: 256M
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
